[Desktop Entry]
Name=LBreakout2
Comment=Arkanoid clone
Comment[pl]=Klon arkanoida
Icon=lbreakout2
Exec=lbreakout2
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
