[Desktop Entry]
Name=LBreakout2
Comment=Arkanoid clone
Comment[pl]=Klon arkanoida
Icon=lbreakout2.png
Exec=lbreakout2
Terminal=false
Type=Application
